/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(1, 0, 0);
  }
}

.animate-typing {
  animation: typing 4s steps(31, end), blink .5s step-end infinite;
  width: 100%;
}

.typewriter {
  overflow: hidden; /* Ensures the text is hidden beyond the container */
  white-space: nowrap; /* Prevents text from wrapping */
  border-right: 2px solid black; /* Creates the cursor effect */
} */