@import "tailwindcss";

@layer utilities {
  @keyframes gradient-x {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  .animate-gradient-x {
      animation: gradient-x 5s ease infinite;
      background-size: 200% 200%;
  }
}

@theme {
  --color-mera: #4a90e2;
  --color-secondary: #50e3c2;
}
